### Week 3 Toronto Segmenting and Clustering ###

#### Dataframe Creation ####

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

url = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(url.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
df

[    Postcode           Borough          Neighbourhood
 0        M1A      Not assigned           Not assigned
 1        M2A      Not assigned           Not assigned
 2        M3A        North York              Parkwoods
 3        M4A        North York       Victoria Village
 4        M5A  Downtown Toronto           Harbourfront
 ..       ...               ...                    ...
 282      M8Z         Etobicoke              Mimico NW
 283      M8Z         Etobicoke     The Queensway West
 284      M8Z         Etobicoke  Royal York South West
 285      M8Z         Etobicoke         South of Bloor
 286      M9Z      Not assigned           Not assigned

 [287 rows x 3 columns]]

In [4]:
# Convert to Pandas Dataframe
Tordf = pd.DataFrame(df[0])
Tordf.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [5]:
# Look for values of 'Not Assigned' in Borough column
Tordf[Tordf['Borough'].str.match('Not assigned')]

    Postcode       Borough Neighbourhood
0        M1A  Not assigned  Not assigned
1        M2A  Not assigned  Not assigned
8        M8A  Not assigned  Not assigned
12       M2B  Not assigned  Not assigned
19       M7B  Not assigned  Not assigned
..       ...           ...           ...
277      M4Z  Not assigned  Not assigned
278      M5Z  Not assigned  Not assigned
279      M6Z  Not assigned  Not assigned
280      M7Z  Not assigned  Not assigned
286      M9Z  Not assigned  Not assigned

[77 rows x 3 columns]

In [6]:
# Create new dataframe by filtering out the 'Not assigned' Boroughs
dfTor = Tordf[Tordf['Borough'] != 'Not assigned']
dfTor.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [7]:
# Group neighbourhoods using Postcode/Borough columns. Separate using ', '
Tordfg = dfTor.groupby(["Postcode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
Tordfg.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

In [8]:
# Look for 'Not assigned' in Neighbourhood column
Tordfg[Tordfg['Neighbourhood'].str.match('Not assigned')]

   Postcode       Borough Neighbourhood
93      M9A  Queen's Park  Not assigned

In [9]:
# Look for rows in which Neighbourhood is "Not assigned", replace neighborhood with 'borough'
# Make sure Queen's park is both Borough and neighborhood
for index, row in Tordfg.iterrows():
    if row["Neighbourhood"] == "Not assigned":
        row["Neighbourhood"] = row["Borough"]
Tordfg.tail(10)

    Postcode       Borough                                      Neighbourhood
93       M9A  Queen's Park                                       Queen's Park
94       M9B     Etobicoke  Cloverdale, Islington, Martin Grove, Princess ...
95       M9C     Etobicoke  Bloordale Gardens, Eringate, Markland Wood, Ol...
96       M9L    North York                                      Humber Summit
97       M9M    North York                                   Emery, Humberlea
98       M9N          York                                             Weston
99       M9P     Etobicoke                                          Westmount
100      M9R     Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V     Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W     Etobicoke                                          Northwest

In [10]:
# Print shape of dataframe
Tordfg.shape

(103, 3)

#### Adding latitude and longitude ####

In [11]:
# Obtain data
geodata = pd.read_csv('http://cocl.us/Geospatial_data')
geodata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
# Combine based on Post/postal code column
Torloc = pd.merge(Tordfg,geodata,how='left',left_on='Postcode', right_on='Postal Code')
Torloc.head()

,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

In [13]:
# Remove extra postal code column
Torloc.drop('Postal Code',1,inplace=True)

In [14]:
print(Torloc.shape)
Torloc.tail(10)

(103, 5)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
93,M9A,Queen's Park,Queen's Park,43.667856,-79.532242
94,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201
96,M9L,North York,Humber Summit,43.756303,-79.565963
97,M9M,North York,"Emery, Humberlea",43.724766,-79.532242
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

#### Explore and Cluster Neighbourhoods ####

In [15]:
import json # library to handle JSON files
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
# import k-means from clustering stage
from sklearn.cluster import KMeans
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [16]:
# Obtain Lat/Lon for Toronto
address = 'Toronto'

geolocator = Nominatim (user_agent='toronto_explorer')
location= geolocator.geocode(address)
latTor=location.latitude
longTor= location.longitude

print('The geographical location of Toronto, ON, Canada is {}, {}.'.format(latTor,longTor))

The geographical location of Toronto, ON, Canada is 43.653963, -79.387207.

In [ ]:
# Initial map of all boroughs
map_toronto = folium.Map(location=[latTor,longTor],zoom_start = 10.25)

#Markers
for lat,lng,borough,neighborhood in zip(Torloc['Latitude'],Torloc['Longitude'],Torloc['Borough'],Torloc['Neighbourhood']):
    label='{},{}'.format(neighborhood,borough)
    label = folium.Popup(label,parse_html=True)
    folium.CircleMarker(
        [lat,lng],
        radius = 5,
        popup = label,
        color = 'blue',
        fill = True,
        fill_color = '3186cc',
        fill_opacity = 0.7,
        parse_html = False).add_to(map_toronto)
map_toronto

In [17]:
# Find boroughs that contain Toronto in the name [used title to make sure first letter capitalized]
tor_borough = []

for x in Torloc['Borough']:
    if "Toronto" in x.title():
        tor_borough.append(x)
        
tor_borough[0:5]

['East Toronto',
 'East Toronto',
 'East Toronto',
 'East Toronto',
 'Central Toronto']

In [18]:
# New df with only boroughs including 'Toronto' in the name
torborough = Torloc[Torloc['Borough'].isin(tor_borough)].reset_index(drop=True)
torborough

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M4E,East Toronto,The Beaches,43.676357,-79.293031
1,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188
2,M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572
3,M4M,East Toronto,Studio District,43.659526,-79.340923
4,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790
5,M4P,Central Toronto,Davisville North,43.712751,-79.390197
6,M4R,Central Toronto,North Toronto West,43.715383,-79.405678
7,M4S,Central Toronto,Davisville,43.704324,-79.388790
8,M4T,Central Toronto,"Moore Park, Summerhill East",43.689574,-79.383160
9,M4V,Central Toronto,"Deer Park, Forest Hill SE, Rathnelly, South Hi...",43.686412,-79.400049
10,M4W,Downtown Toronto,Rosedale,43.679563,-79.377529
11,M4X,Downtown Toronto,"Cabbagetown, St. James Town",43.667967,-79.367675
12,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
13,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
14,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937
15,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
16,M5E,Downtown Toronto,Berczy Park,43.644771,-79.373306
17,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
18,M5H,Downtown Toronto,"Adelaide, King, Richmond",43.650571,-79.384568
19,M5J,Downtown Toronto,"Harbourfront East, Toronto Islands, Union Station",43.640816,-79.381752
20,M5K,Downtown Toronto,"Design Exchange, Toronto Dominion Centre",43.647177,-79.381576
21,M5L,Downtown Toronto,"Commerce Court, Victoria Hotel",43.648198,-79.379817
22,M5N,Central Toronto,Roselawn,43.711695,-79.416936
23,M5P,Central Toronto,"Forest Hill North, Forest Hill West",43.696948,-79.411307
24,M5R,Central Toronto,"The Annex, North Midtown, Yorkville",43.672710,-79.405678
25,M5S,Downtown Toronto,"Harbord, University of Toronto",43.662696,-79.400049
26,M5T,Downtown Toronto,"Chinatown, Grange Park, Kensington Market",43.653206,-79.400049
27,M5V,Downtown Toronto,"CN Tower, Bathurst Quay, Island airport, Harbo...",43.628947,-79.394420
28,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade,43.646435,-79.374846
29,M5X,Downtown Toronto,"First Canadian Place, Underground city",43.648429,-79.382280
30,M6G,Downtown Toronto,Christie,43.669542,-79.422564
31,M6H,West Toronto,"Dovercourt Village, Dufferin",43.669005,-79.442259
32,M6J,West Toronto,"Little Portugal, Trinity",43.647927,-79.419750
33,M6K,West Toronto,"Brockton, Exhibition Place, Parkdale Village",43.636847,-79.428191
34,M6P,West Toronto,"High Park, The Junction South",43.661608,-79.464763
35,M6R,West Toronto,"Parkdale, Roncesvalles",43.648960,-79.456325
36,M6S,West Toronto,"Runnymede, Swansea",43.651571,-79.484450
37,M7A,Downtown Toronto,Queen's Park,43.662301,-79.389494
38,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558

In [ ]:
#Map with just 'Toronto' borough
map_torbor = folium.Map(location=[latTor,longTor],zoom_start = 11)

#Markers
for lat,lng,borough,neighborhood in zip(torborough['Latitude'],torborough['Longitude'],torborough['Borough'],torborough['Neighbourhood']):
    label='{},{}'.format(neighborhood,borough)
    label = folium.Popup(label,parse_html=True)
    folium.CircleMarker(
        [lat,lng],
        radius = 5,
        popup = label,
        color = 'blue',
        fill = True,
        fill_color = '3186cc',
        fill_opacity = 0.7,
        parse_html = False).add_to(map_torbor)
map_torbor

In [ ]:
#Using FourSquare API

CLIENT_ID = '2EYPLTHOUJ04H4NBJ5R0F5MHPRTLVUZELWKI2BAQAVSNYYLU' # your Foursquare ID
CLIENT_SECRET = 'TU1524JJWDDL331EOVA05PLB2IHLDEJ1BIGQXWOVLSAW5X5S' # your Foursquare Secret
VERSION = '20200202'
LIMIT = 100

In [22]:
# Function to obtain nearby venues
def getNearbyVenues(names,latitudes,longitudes,radius=500):
    venues_list=[]
    for name,lat,long in zip(names,latitudes,longitudes):
        print(name)
    
        url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(
        CLIENT_ID, 
        CLIENT_SECRET, 
        lat, 
        long, 
        VERSION,
        radius, 
        LIMIT)
        
        results = requests.get(url).json()['response']['groups'][0]['items']
        
        venues_list.append([(
            name,
            lat,
            long,
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [23]:
#Toronto venues through Foursquare
toronto_venues = getNearbyVenues(torborough['Neighbourhood'],torborough['Latitude'],torborough['Longitude'])

The Beaches
The Danforth West, Riverdale
The Beaches West, India Bazaar
Studio District
Lawrence Park
Davisville North
North Toronto West
Davisville
Moore Park, Summerhill East
Deer Park, Forest Hill SE, Rathnelly, South Hill, Summerhill West
Rosedale
Cabbagetown, St. James Town
Church and Wellesley
Harbourfront
Ryerson, Garden District
St. James Town
Berczy Park
Central Bay Street
Adelaide, King, Richmond
Harbourfront East, Toronto Islands, Union Station
Design Exchange, Toronto Dominion Centre
Commerce Court, Victoria Hotel
Roselawn
Forest Hill North, Forest Hill West
The Annex, North Midtown, Yorkville
Harbord, University of Toronto
Chinatown, Grange Park, Kensington Market
CN Tower, Bathurst Quay, Island airport, Harbourfront West, King and Spadina, Railway Lands, South Niagara
Stn A PO Boxes 25 The Esplanade
First Canadian Place, Underground city
Christie
Dovercourt Village, Dufferin
Little Portugal, Trinity
Brockton, Exhibition Place, Parkdale Village
High Park, The Junction South
Parkdale, Roncesvalles
Runnymede, Swansea
Queen's Park
Business Reply Mail Processing Centre 969 Eastern

In [24]:
print(toronto_venues.shape)
toronto_venues.head()

(1717, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,The Beaches,43.676357,-79.293031,Glen Manor Ravine,43.676821,-79.293942,Trail
1,The Beaches,43.676357,-79.293031,Glen Stewart Ravine,43.676300,-79.294784,Other Great Outdoors
2,The Beaches,43.676357,-79.293031,The Big Carrot Natural Food Market,43.678879,-79.297734,Health Food Store
3,The Beaches,43.676357,-79.293031,Grover Pub and Grub,43.679181,-79.297215,Pub
4,The Beaches,43.676357,-79.293031,Glen Stewart Park,43.675278,-79.294647,Park

In [30]:
#Grouping venues by neighbourhood [limit has been set to 100 previously]
toronto_venues.groupby('Neighborhood').count().head()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
"Adelaide, King, Richmond",100,100,100,100,100,100
Berczy Park,56,56,56,56,56,56
"Brockton, Exhibition Place, Parkdale Village",23,23,23,23,23,23
Business Reply Mail Processing Centre 969 Eastern,18,18,18,18,18,18
"CN Tower, Bathurst Quay, Island airport, Harbourfront West, King and Spadina, Railway Lands, South Niagara",17,17,17,17,17,17

In [26]:
print('There are {} unique categories in the area'.format(len(toronto_venues['Venue Category'].unique())))

There are 234 unique categories in the area

In [27]:
#Analyze the neighborhoods
#dummy code
tor_onehot= pd.get_dummies(toronto_venues[['Venue Category']],prefix="",prefix_sep="")

#Adds neighborhood back to dataframe
tor_onehot['Neighborhood']=toronto_venues['Neighborhood']

#Moves 'neighborhood' column
fixed_columns = [tor_onehot.columns[-1]] + list(tor_onehot.columns[:-1])
tor_onehot = tor_onehot[fixed_columns]

print(tor_onehot.shape)
tor_onehot.head()

(1717, 234)

,Yoga Studio,Afghan Restaurant,Airport,Airport Food Court,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,Aquarium,...,Thrift / Vintage Store,Toy / Game Store,Trail,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wings Joint,Women's Store
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
#Computing averages
toronto_grouped = tor_onehot.groupby('Neighborhood').mean().reset_index()
print(toronto_grouped.shape)
toronto_grouped.head()

(39, 234)

,Neighborhood,Yoga Studio,Afghan Restaurant,Airport,Airport Food Court,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,...,Thrift / Vintage Store,Toy / Game Store,Trail,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wings Joint,Women's Store
0,"Adelaide, King, Richmond",0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.02,0.0,...,0.0,0.0,0.0,0.0,0.020000,0.0,0.0,0.01,0.0,0.01
1,Berczy Park,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.0,...,0.0,0.0,0.0,0.0,0.017857,0.0,0.0,0.00,0.0,0.00
2,"Brockton, Exhibition Place, Parkdale Village",0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.00,0.0,0.00
3,Business Reply Mail Processing Centre 969 Eastern,0.055556,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.00,0.0,0.00
4,"CN Tower, Bathurst Quay, Island airport, Harbo...",0.000000,0.0,0.058824,0.058824,0.117647,0.176471,0.117647,0.00,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.00,0.0,0.00

In [31]:
#Function to find most popular venues
def return_most_common_venues (row,num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [32]:
#Finding top 5 venues
num_top_venues = 5

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = toronto_grouped['Neighborhood']

for ind in np.arange(toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,"Adelaide, King, Richmond",Coffee Shop,CafÃ©,Bar,Thai Restaurant,Steakhouse
1,Berczy Park,Coffee Shop,Seafood Restaurant,Cheese Shop,Steakhouse,Bakery
2,"Brockton, Exhibition Place, Parkdale Village",CafÃ©,Breakfast Spot,Coffee Shop,Bakery,Climbing Gym
3,Business Reply Mail Processing Centre 969 Eastern,Yoga Studio,Auto Workshop,Skate Park,Smoke Shop,Spa
4,"CN Tower, Bathurst Quay, Island airport, Harbo...",Airport Service,Airport Lounge,Airport Terminal,Boutique,Harbor / Marina

In [33]:
# Using kmeans to obtain clusters
kclusters = 5

toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)

kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)

kmeans.labels_[0:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [36]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

toronto_merged = torborough

#merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighbourhood')

toronto_merged.head(10) #Last columns are 5, which we set previously

,Postcode,Borough,Neighbourhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,M4E,East Toronto,The Beaches,43.676357,-79.293031,0,Pub,Park,Other Great Outdoors,Trail,Health Food Store
1,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188,0,Greek Restaurant,Italian Restaurant,Coffee Shop,Bookstore,Furniture / Home Store
2,M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572,0,Park,Pizza Place,Gym,Sushi Restaurant,Ice Cream Shop
3,M4M,East Toronto,Studio District,43.659526,-79.340923,0,CafÃ©,Coffee Shop,Gastropub,Bakery,Brewery
4,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790,4,Park,Swim School,Bus Line,Women's Store,Dessert Shop
5,M4P,Central Toronto,Davisville North,43.712751,-79.390197,0,Gym,Hotel,Dance Studio,Sandwich Place,Food & Drink Shop
6,M4R,Central Toronto,North Toronto West,43.715383,-79.405678,0,Clothing Store,Coffee Shop,Yoga Studio,Dessert Shop,Mexican Restaurant
7,M4S,Central Toronto,Davisville,43.704324,-79.388790,0,Dessert Shop,Sandwich Place,Pizza Place,Gym,Coffee Shop
8,M4T,Central Toronto,"Moore Park, Summerhill East",43.689574,-79.383160,1,Playground,Tennis Court,Women's Store,Deli / Bodega,Ethiopian Restaurant
9,M4V,Central Toronto,"Deer Park, Forest Hill SE, Rathnelly, South Hi...",43.686412,-79.400049,0,Pub,Coffee Shop,Health & Beauty Service,Liquor Store,Sports Bar

In [37]:
# Food Services and Retail
toronto_merged.loc[toronto_merged['Cluster Labels'] == 0, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,East Toronto,0,Pub,Park,Other Great Outdoors,Trail,Health Food Store
1,East Toronto,0,Greek Restaurant,Italian Restaurant,Coffee Shop,Bookstore,Furniture / Home Store
2,East Toronto,0,Park,Pizza Place,Gym,Sushi Restaurant,Ice Cream Shop
3,East Toronto,0,CafÃ©,Coffee Shop,Gastropub,Bakery,Brewery
5,Central Toronto,0,Gym,Hotel,Dance Studio,Sandwich Place,Food & Drink Shop
6,Central Toronto,0,Clothing Store,Coffee Shop,Yoga Studio,Dessert Shop,Mexican Restaurant
7,Central Toronto,0,Dessert Shop,Sandwich Place,Pizza Place,Gym,Coffee Shop
9,Central Toronto,0,Pub,Coffee Shop,Health & Beauty Service,Liquor Store,Sports Bar
11,Downtown Toronto,0,Coffee Shop,Restaurant,Bakery,Italian Restaurant,Pizza Place
12,Downtown Toronto,0,Coffee Shop,Japanese Restaurant,Gay Bar,Sushi Restaurant,Restaurant
13,Downtown Toronto,0,Coffee Shop,Pub,Park,Bakery,Mexican Restaurant
14,Downtown Toronto,0,Coffee Shop,Clothing Store,CafÃ©,Japanese Restaurant,Cosmetics Shop
15,Downtown Toronto,0,Coffee Shop,CafÃ©,Restaurant,Clothing Store,Breakfast Spot
16,Downtown Toronto,0,Coffee Shop,Seafood Restaurant,Cheese Shop,Steakhouse,Bakery
17,Downtown Toronto,0,Coffee Shop,Sandwich Place,Italian Restaurant,Juice Bar,Burger Joint
18,Downtown Toronto,0,Coffee Shop,CafÃ©,Bar,Thai Restaurant,Steakhouse
19,Downtown Toronto,0,Coffee Shop,Aquarium,Italian Restaurant,CafÃ©,Hotel
20,Downtown Toronto,0,Coffee Shop,CafÃ©,Hotel,Restaurant,Italian Restaurant
21,Downtown Toronto,0,Coffee Shop,CafÃ©,Restaurant,Hotel,Gym
24,Central Toronto,0,Sandwich Place,CafÃ©,Coffee Shop,Pharmacy,History Museum
25,Downtown Toronto,0,CafÃ©,Restaurant,Bakery,Bar,Bookstore
26,Downtown Toronto,0,Bar,CafÃ©,Vietnamese Restaurant,Dumpling Restaurant,Chinese Restaurant
27,Downtown Toronto,0,Airport Service,Airport Lounge,Airport Terminal,Boutique,Harbor / Marina
28,Downtown Toronto,0,Coffee Shop,CafÃ©,Restaurant,Italian Restaurant,Seafood Restaurant
29,Downtown Toronto,0,Coffee Shop,CafÃ©,Restaurant,Hotel,Bakery
30,Downtown Toronto,0,Grocery Store,CafÃ©,Park,Baby Store,Restaurant
31,West Toronto,0,Pharmacy,Bakery,Athletics & Sports,Bus Stop,CafÃ©
32,West Toronto,0,Bar,Restaurant,Coffee Shop,Asian Restaurant,Men's Store
33,West Toronto,0,CafÃ©,Breakfast Spot,Coffee Shop,Bakery,Climbing Gym
34,West Toronto,0,Mexican Restaurant,CafÃ©,Thai Restaurant,Fast Food Restaurant,Fried Chicken Joint
35,West Toronto,0,Gift Shop,Bookstore,Cuban Restaurant,Eastern European Restaurant,Dog Run
36,West Toronto,0,Pizza Place,CafÃ©,Coffee Shop,Italian Restaurant,Sushi Restaurant
37,Downtown Toronto,0,Coffee Shop,Gym,Park,Burger Joint,Fast Food Restaurant
38,East Toronto,0,Yoga Studio,Auto Workshop,Skate Park,Smoke Shop,Spa

In [38]:
# Playgrounds
toronto_merged.loc[toronto_merged['Cluster Labels'] == 1, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
8,Central Toronto,1,Playground,Tennis Court,Women's Store,Deli / Bodega,Ethiopian Restaurant

In [39]:
# Parks
toronto_merged.loc[toronto_merged['Cluster Labels'] == 2, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
10,Downtown Toronto,2,Park,Playground,Trail,Women's Store,Deli / Bodega
23,Central Toronto,2,Park,Jewelry Store,Trail,Sushi Restaurant,Women's Store

In [40]:
# Concert Venue
toronto_merged.loc[toronto_merged['Cluster Labels'] == 3, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
22,Central Toronto,3,Music Venue,Pool,Garden,Dance Studio,Electronics Store

In [41]:
# Park Duplicate
toronto_merged.loc[toronto_merged['Cluster Labels'] == 4, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
4,Central Toronto,4,Park,Swim School,Bus Line,Women's Store,Dessert Shop

Overall, clusters were not ideal. Cluster 0 encompassed both retail & restaurants/food. Cluster 1 was for a playground, cluster 2 & 4 indicate parks, and cluster 3 was a music venue.